*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:#111
}

ul, ol{
    list-style: none;
}

header{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*ham*/
.hamburger{
    cursor: pointer;
    margin-left: 20px;
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hamburger svg{
    fill: #000;
}

header.open .shadow{
    display: block;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    display: none;
}
header.open .mob_menu{
    display: block;
}
.mob_menu{
    position: fixed;
    display: none; 
    overflow: auto;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    z-index: 10;
    padding-left: 60px;
    padding-top: 20px;
}

.mob_menu .close{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}
.mob_menu ul a{
    text-decoration: none;
}
.mob_menu ul.secondary_menu a{
    font-size: 14px;
    color: #111;
    font-weight: 700;
}
.mob_menu ul.secondary_menu {
    margin-bottom: 40px;
}
.mob_menu ul.thirdly_menu a{
    font-size: 14px;
    color: #111;
    font-weight: 400;
}
.mob_menu ul li{
    margin-top: 20px;
}
.mob_menu ul li:last-child{
    margin-bottom: 20px;
}
.mob_menu nav a{
    font-size: 36px;
    font-weight: 700;
    color: #111;
}


.container{
    max-width: 1500px;
    width: 95%;
    margin: 0 auto;
}
header .container .header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .hamburger{
    display: none;
}

header .container > .search{
    display: none;
}
.ar_variants{
    display: flex;
}
.webComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.webComponent .btn{
    text-decoration: none;
}
.btn{
    border-radius: 30px;
    border: 1.5px solid transparent;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
    width: 100%;
    min-height: 60px;
    padding: 18px 24px;   
    text-align: center;
}
.search{
    max-width: 580px;
    width: 100%;
    position: relative;
}
.search input{
    width: 100%;
    display: block;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    background-color: #f5f5f5;
    border: 2px solid transparent;
    border-radius: 50px;
    height: 54px;
    outline: 0;
    padding: 13px 50px;
    box-shadow: none;
    transition: background-color .2s;
    
}
.search::before{
    content: '';    
    position: absolute;
    top: calc(50% - 12px);
    left: 15px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 9.195312 2.492188 C 5.671875 2.492188 2.804688 5.359375 2.804688 8.882812 C 2.804688 12.40625 5.671875 15.273438 9.195312 15.273438 C 12.71875 15.273438 15.585938 12.40625 15.585938 8.882812 C 15.585938 5.359375 12.71875 2.492188 9.195312 2.492188 Z M 9.195312 14.027344 C 6.359375 14.027344 4.050781 11.71875 4.050781 8.882812 C 4.050781 6.046875 6.359375 3.742188 9.195312 3.742188 C 12.03125 3.742188 14.339844 6.046875 14.339844 8.882812 C 14.339844 11.71875 12.03125 14.027344 9.195312 14.027344 Z M 9.195312 14.027344 '/%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 23.140625 20.808594 L 16.402344 14.070312 C 17.488281 12.5625 18.078125 10.742188 18.078125 8.882812 C 18.078125 3.984375 14.09375 0 9.195312 0 C 4.296875 0 0.3125 3.984375 0.3125 8.882812 C 0.3125 13.78125 4.296875 17.765625 9.195312 17.765625 C 10.757812 17.765625 12.28125 17.359375 13.625 16.582031 L 20.496094 23.453125 C 20.847656 23.804688 21.320312 24 21.820312 24 C 22.316406 24 22.789062 23.804688 23.140625 23.453125 C 23.871094 22.722656 23.871094 21.535156 23.140625 20.808594 Z M 22.257812 22.570312 C 22.140625 22.6875 21.984375 22.753906 21.820312 22.753906 C 21.652344 22.753906 21.496094 22.6875 21.378906 22.570312 L 14.15625 15.351562 C 14.039062 15.230469 13.878906 15.167969 13.71875 15.167969 C 13.597656 15.167969 13.480469 15.203125 13.375 15.269531 C 12.128906 16.085938 10.6875 16.519531 9.195312 16.519531 C 4.984375 16.519531 1.558594 13.09375 1.558594 8.882812 C 1.558594 4.671875 4.984375 1.246094 9.195312 1.246094 C 13.40625 1.246094 16.832031 4.671875 16.832031 8.882812 C 16.832031 10.644531 16.214844 12.367188 15.09375 13.726562 C 14.890625 13.976562 14.90625 14.335938 15.132812 14.5625 L 22.257812 21.6875 C 22.503906 21.933594 22.503906 22.328125 22.257812 22.570312 Z M 22.257812 22.570312 '/%3E%3C/g%3E%3C/svg%3E");
}
.search::after{
    content: '';    
    position: absolute;
    top: calc(50% - 12px);
    right: 15px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' aria-hidden='true' class='svg-icon'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.002 13a4 4 0 11-8 0 4 4 0 018 0zm-2 0a2 2 0 11-4 0 2 2 0 014 0z' fill='currentColor'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.443 4L7.586 7H3v13h18V7h-4.586l-1.857-3H9.443zm1.114 2h2.886L15.3 9H19v9H5V9h3.7l1.857-3z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.list_icons svg{
    fill: #000;
}

.list_icons, .list_icons li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_icons li {
    padding: 0 15px;
}
.list_icons li a{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #111;
    text-decoration: none;
}





main .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #dfdfdf;
}
.left .submenu{
    display: flex;
    align-items: center;
}
.left .submenu li{
    padding: 10px 15px;
}
.left .submenu li:first-child{
    padding-left: 0;
}
.left .submenu li:last-child{
    padding-right: 0;
}
.left .submenu li a{
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
}

.right ul{
    display: flex;
    align-items: center;
}
.right ul li {
    margin: 10px;
    margin-top: 6px;
}
.right ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
}
.right ul li svg{
    width: 24px;
    height: 24px;
}


.breadcrumbs{
    padding: 12px 0 16px;
    margin-bottom: 60px;
}
.breadcrumbs ul{
    display: flex;
    align-items: center;
}
.breadcrumbs ul li{
    position: relative;
    padding-right: 20px;
}
.breadcrumbs ul li::after{
    content: '>';
    position: absolute;
    top: 3px;
    right: 6px;
    font-size: 12px;
}
.breadcrumbs ul li:last-child:after{
    content: none;
}
.breadcrumbs ul li a{
    font-size: 12px;
    color: #484848;
    text-decoration: none;
}


.product{
    display: flex;
    justify-content: space-between;
}

.product_right{
    width: 30%;
}
.product_left {
    width: 70%;
}
.product_left ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.product_left ul li{
    max-width: 335px;
    max-height: 335px;
}
.product_left ul li img{
    width: 100%;
    height: auto;
    display: block;
}
.product_subtitle{
    font-size: 20px;
    margin-bottom: 24px;
    color: #484848;
    max-width: 624px;
}
.product_number{
    display: block;
    margin-bottom: 8px;
    color: #484848;
    line-height: 1.5;
    font-size: 12px;
}
.like_btn{
    display: inline-block;
    background-color: #111;
    padding: 4px 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
    font-size: 12px;
}





.product_right .product_right_first_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_right h1{
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 15px;
}
.product_right .product_right_first_top .price{
    display: flex;
    font-weight: 700;
}
.product_right .product_right_first_top .price .small{
    font-size: 11px;
    margin-left: 2px;
}
.product_right .product_right_first_top .price .small:last-child{
    margin-left: 0;
    margin-right: 2px;
}
.product_right .product_right_first_top .price .big{
    font-size: 22px;
    line-height: 18px;
}
.product_right p.subtitle{
    font-size: 14px;
    color: #484848;
    margin-bottom: 15px;
}

.rating{
    margin-bottom: 25px;
}
.rating, .rating span{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.rating svg{
    width: 18px;
    height: 18px;
}

.details{
    color: #484848;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
}

.warranty{
    padding: 25px 0;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #dfdfdf;
}
.warranty span{
    font-size: 14px;
    color: #484848;
}
.warranty span:first-child{
    margin-right: 10px;
    font-size: 12px;
    color: #fff;
}

.block_title{
    font-size: 14px;
    font-weight: 700;
    color: #111;
    width: 100%;
    margin-bottom: 5px;
}

.current_choose{
    font-size: 14px;
    color: #484848;
    position: relative;
    width: 100%;
}
.current_choose::after{
    position: absolute;
    top: -10px;
    right: 0;
    content:">";
    font-size: 18px;
}

.variants{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.variants li{
    width: 70px;
    height: 70px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}
.variants li.active{
    border: 2px solid #000;
    border-radius: 8px;
}
.variants li img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.border_wrapper{
    margin-top: 4px;
    border: solid 1px #dfdfdf;
    border-radius: 10px;
    padding: 4px 16px;
    max-width: 290px;
    margin-bottom: 32px;
}
.border_wrapper > div{
    padding: 12px 0;
    border-top: solid 1px #dfdfdf;
    display: flex;
}
.border_wrapper > div:first-child{
    border-top: none;
}
.border_wrapper > div .get_right{
    padding: 0 12px;
}
.border_wrapper > div .get_right .get_right_top{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #111;
}
.border_wrapper > div .get_right .get_right_bottom{
    font-size: 14px;
    line-height: 20px;
    color: #484848;
}
.border_wrapper > div .get_right .get_right_bottom p{ 
    color: #767676;
}
.border_wrapper svg{
    width: 24px;
    height: 24px;
}


.product_right > div.with_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_right > div:last-child{
    display: none;
}
.button{
    background: #0058a3;
    border-radius: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    padding: 0 32px;
    width: 75%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.favorite{
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 56px;
    height: 56px;
}

.favorite svg{
    width: 24px;
}

.right_variants{
    display: none;
}

@media screen and (max-width: 1200px) {
    .list_icons li a span{
        display: none;
    }
    header .container .logo{
        margin-right: 20px;
    }
    header .container .hamburger{
        display: flex;
        margin-left: 0;
        padding: 0 15px;
    }
    header > .hamburger{
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .ar_variants{
        flex-direction: column;
    }
    .webComponent{
        flex-direction: row;
    }
    .webComponent .btn{
        margin-top: -36px;
    }
}
@media screen and (max-width: 900px) {
    .product_left ul li:not(.product_left ul li:first-child){
        display: none;
    }
    .product_left ul{
        display: block;
    }
    .product_left ul li{
        max-width: initial;
        max-height: initial;
    }
    .product{
        flex-direction: column;
    }
    .product_left, .product_right{
        width: 100%;
    }
    .left .submenu{
        display: none;
    }
    main .top{
        justify-content: flex-start;
    }
    .breadcrumbs ul li{
        display: none;
    }
    .breadcrumbs ul li.last{
        display: block;
    }
    .product_right > div:last-child{
        display: block;
    }
    .product_left{
        margin-bottom: 30px;
    }
    .product_left p, .product_left span, .product_left .like_btn{
        display: none;
    }
    .right_variants{
        display: block;
    }
    .block_title, .current_choose, .variants{
        display: none;
    }
    .warranty{
        border: none;
        margin-bottom: 0;
    }
    .product_right{
        margin-top: 90px;
        position: relative;
    }
    .variants_block{
        position: absolute;
        top: -102px;
        left: 0;
        width: 100%;
        padding: 0 20px;
    }
    .border_wrapper{
        max-width: initial;
    }
    .button{
        width: 86%;
    }
    .favorite{
        margin-left: 30px;
    }
    .with_button{
        margin-bottom: 30px;
    }
    .product_right{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 700px) {
    header .container .header_wrapper .search{
        display: none;
        
    }
    header .container .header_wrapper .search .search input{
        min-height: 42px;
    }
    header .container > .search{
        display: block;
    }
    .list_icons li:nth-child(2){
        display: none;
    }
    .list_icons li{
        padding: 0 4px;
    }
    header .container .hamburger{
        padding: 0;
    }
}